*.o
.*.swp
.*.swo
*.orig
*.rej
*~
.#*
*#
tags
cscope*
/.config
/.config.old
/.last_project
/dl
/tmp
/bin
/logs
/build_dir
/staging_dir
/feeds/customer*
/feeds/luci*
/feeds.conf
/package/feeds/customer
